[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
frozen-flask = "*"
py-gfm = "*"
python-markdown-math = "*"
pyyaml = "*"
flask-flatpages = {editable = true, ref = "markdown-3", git = "https://github.com/padraic-padraic/Flask-FlatPages.git"}
flask = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.7"
