[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
frozen-flask = "*"
python-markdown-math = "*"
pyyaml = "*"
flask = "*"
six = "*"
pygments = "*"
flask-flatpages = "==0.7.0"
staticflask = {editable = true, path = "."}

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
blinker = "*"

[requires]
python_version = "3.7"
