<!DOCTYPE HTML>
<html>
  <head>
    {% block head %}
      <title>{% block title %} {% endblock%}</title>
      <link rel="stylesheet" href="{{ url_for('static_flask.static',filename='style.css') }}">
      <link rel="stylesheet" href="{{ url_for('static_flask.pygments_css') }}">
      {% block link %}
      {% endblock %}
      {% block scripts %}
      {% endblock %}
    {% endblock %}
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
</head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
