{% extends 'base.html' %}
{% block title %} padraic.xyz - {{data.category | last}} {% endblock %}
{% block content %}
<h1>
{{ data.category | split_path | last }}
</h1>
<!-- TODO: Category description? -->
<h2>Sub-Categories</h2>
<p>
{% for stem, posts in data %}
    {% if stem != '.'  and stem != 'category' %}
     <a stye="font-weight:bold;" href="{{url_for('archive', path=stem)}}">{% stem | split_path| echo_split_path }}</a>, 
    {% endif %}
{% endfor %}
</p>
<hr>
<h2> Posts </h2>
    <ol>
    {% for p in data['.'] %}
        <li><a href="{{ url_for('page', path=p.path) }}">{{p.title}}</a></li>
    {% endfor %}
    </ol>
{% for stem, posts in data %}
    {% if stem != '.' and stem != 'category' %}
        <h3>{{stem|split_path|echo_split_path}}</h3>
        {% for p in posts %}
                <li><a href="{{ url_for('page', path=p.path) }}">{{p.title}}</a></li>
        {% endfor %}
    {% endif %}
{% endfor %}
{% endblock %}