{% extends 'base.html' %}
{% set formatted = data.category | split_path | uscore_to_space %}
{% block title %} padraic.xyz - {{formatted| last}} {% endblock %}
{% block content %}
<h1>
{{formatted | last }}
</h1>
{% if formatted | length > 1 %}
<p class="subtitle">{{ formatted | echo_split_path }}
{% endif %}
<!-- TODO: Category description? -->
{% if data['.']['categories'] %}
<h2>Sub-Categories</h2>
<p>
{% for key, value in data.items() %}
    {% if key != '.'  and key != 'category' %}
      {% if value['files'] %}
        {% set _path = data['category']+'/'+key %}
         <a stye="font-weight:bold;" href={{url_for('page', path=_path)}}>{{ key | uscore_to_space | split_path | echo_split_path | e }}</a>, 
        {% endif %}
      {% endif %}
{% endfor %}
</p>
{% endif %}
<hr>
<h2> Posts </h2>
    <ol>
    {% for p in data['.']['files'] %}
        <li><a href="{{ url_for('page', path=p.path) }}">{{p.title}}</a></li>
    {% endfor %}
    </ol>
{% for stem, value in data.items() %}
    {% if stem != '.' and stem != 'category' %}
      {% if value['files'] %}
        <h3>{{stem| uscore_to_space | split_path| echo_split_path | e}}</h3>
        {% for p in value['files'] %}
                <li><a href="{{ url_for('page', path=p.path) }}">{{p.title}}</a></li>
        {% endfor %}
      {% endif %}
    {% endif %}
{% endfor %}
{% endblock %}
