{% extends 'base.html' %}
{% block title %} An okay website I guess{% endblock %}
{% block content %}
{% for post in posts %}
  <article class="post">
      <h4 class="post-title">{{post.title}}</h4>
      <p class="post-extract">{{post.extract | safe}}</p>
      <a href="{{ url_for('page', path=post.path) }}" class="button">Read more</a>
  </article>
{% endfor %}
{% if next%}
<a href="{{ url_for(next) }}" class="mdl-button mdl-js-button mdl-button--raised">
  Next
</a>
{% endif %}
{% endblock %}
