{% extends 'base.html' %}
{% block title %} An okay website I guess{% endblock %}
{% block content %}
{% for post in posts %}
<div class="post-wrapper">
  <article class="post">
      <a href="{{ url_for('page', path=post.path) }}"><h3 class="post-title">{{post.title}}</h3></a>
      <p class="post-extract">{{post.extract | safe}}</p>
      {% if post.read_more %}
      <a href="{{ url_for('page', path=post.path) }}" class="button">Read more</a>
      {% endif %}
  </article>
</div>
{% endfor %}
{% if next %}
<div id="buttons">
{% if prevpage > 0 %}
<a id="prev" href="{{ url_for('archive',_page=prevpage)}}" class="button">Prev page </a>
{% endif%}
<a id="next" href="{{ url_for('archive',_page=nextpage) }}" class="button">Next page</a>
</div>
{% endif %}
{% endblock %}
